/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 25-Oct-2024, 4:10:48 pm
    Author     : rushendra
*/

*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
}
.formDiv{
   border:1px solid black; 
   width:30vw;
   height: 25vw;
   padding:3vw;
   font-size: 1.5vw;
   border-radius: 1vw;
}
/*form{
    display: flex;
    flex-direction: column;
}*/
.label{
    display: block
}
input{
    width: 20vw;
    height: 2vw;
    border-radius: 0.5vw;
    border:1px solid black;
    margin-bottom: 1vw;
    padding: 0.3vw;
}
select{
    width: 8vw;
    height: 2vw;
}
h1{
    font-size: 2.4vw;
    margin-top: 2vh
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:2vh;
    
    
}

.submitBtn {
    width: 8vw;
    height: 3vw;
    border-radius: 0.5vw;
    margin-left: 7vw;
    font-size: 1.3vw;
}
